<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <!--<img src="/lang-logo.png">-->
    </a>
    <h1>ShineApp-3.0</h1>
    <p>Мониторинг инстаграмма по введённым хэш-тэгам.</p>
    <a type="button" class="btn btn-lg btn-default" href="#"><span class="glyphicon glyphicon-flash"></span> Запуск</a>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-download"></span> Дополнительная информация</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    lorem <a href="#" class="alert-link">lorem</a> lorem.
  </div>
  <hr>
  <div class="row">

    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-tags"></span> Хеш-тэги для отслеживания:</h3>
      <div class="col-md-3">
        <input type="text" value="#cat" title="First hash"/>
      </div>
      <div class="col-md-3">
        <input type="text" value="#dog" title="Second hash"/>
      </div>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Результат:</h3>
      INSTAGRAM-FLOW
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Lorem</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/Ivajkin/ShineApp-3.0">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it grabbed all the dependencies in the <a href="https://github.com/Ivajkin/ShineApp-3.0/blob/master/package.json">package.json</a>.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="#">150 add-on services</a>, from the Dashboard or CLI.</li>
        <li>Check out the <a href="#">Getting Started</a> guide to learn more!</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Lorem alert.
  </div>
</div>


</body>
</html>
