<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <!--<img src="/lang-logo.png">-->
    </a>
    <h1>ShineApp-3.0</h1>
    <p>Мониторинг инстаграмма по введённым хэш-тэгам.</p>
    <a type="button" class="btn btn-lg btn-default" href="#"><span class="glyphicon glyphicon-flash"></span> Запуск</a>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-download"></span> Дополнительная информация</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    lorem <a href="#" class="alert-link">lorem</a> lorem.
  </div>
  <hr>
  <div class="row">

    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-tags"></span> Хеш-тэги для отслеживания:</h3>
      <div class="col-md-3">
        <input type="text" value="#cat" title="First hash"/>
      </div>
      <div class="col-md-3">
        <input type="text" value="#dog" title="Second hash"/>
      </div>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Результат:</h3>
      <div class="container" data-ng-app="ShineApp" data-ng-controller="ShineController">
        <div class="container">
          <div class="row">
            <div class="col-md-6"><h1>Popular <button type="button" class="btn btn-success" data-ng-click="getMore()">You have {{pics.length}} pictures on page - Click to see more pictures?</button></h1></div>
          </div>
          <div class="row">
            <div data-ng-repeat="p in pics | orderBy:orderBy" class="col-md-2">
              <a href="{{p.link}}" target="_blank"><img data-ng-src="{{p.images.low_resolution.url}}" class="img-responsive thumbnail" title="{{p.caption.text}}"></a>
              <span class="glyphicon glyphicon-heart"> {{p.likes.count}}</span>
            </div>
          </div>
        </div>

        <!-- UNDER CONSTRUNCTION START -->
        <div id="banner"><a href="http://codepen.io/netsi1964/full/upDno">View 3D version</a></div>
        <style type="text/css" scoped>
          /* RELATED TO UNDER CONSTRUCTION ONLY */
          #banner{
            height: 199px;
            width: 199px;
            overflow:hidden;
            padding: 0;
            margin: 0;
            position: fixed;
            right: 0;
            top: 0;
          }
          #banner a{

            display: block;
            width: 290px;
            font-size: 14px;
            font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT",
            "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma,
            Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
            background-color: #333;
            color: #FFF;
            word-spacing: 2px;
            text-decoration: none;
            padding: 5px 15px 5px 25px;

            position:relative;
            left: 20px;
            top: -37px;
            text-align: center;

            -moz-transform-origin: 0 0 ;
            -moz-transform:rotate(45deg);
            -moz-box-shadow:    1px 1px 5px 1px #666;

            -webkit-transform-origin: 0 0 ;
            -webkit-transform:rotate(45deg);
            -webkit-box-shadow: 1px 1px 5px 1px #666;

            -ms-transform-origin: 0 0 ;
            -ms-transform:rotate(45deg);
            -ms-box-shadow: 1px 1px 5px 1px #666;

            transform-origin: 0 0 ;
            transform:rotate(45deg);
            box-shadow: 1px 1px 5px 1px #666;

            background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
            background-image: -o-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
            background-image: -moz-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
            background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
            background-image: -ms-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);

            background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0.03, #000000),
                    color-stop(0.05, #666666),
                    color-stop(0.07, #000000),
                    color-stop(0.93, #000000),
                    color-stop(0.95, #666666),
                    color-stop(0.97, #000000)
            );

          }
        </style>
        <!-- UNDER CONSTRUNCTION END -->
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Lorem</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/Ivajkin/ShineApp-3.0">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it grabbed all the dependencies in the <a href="https://github.com/Ivajkin/ShineApp-3.0/blob/master/package.json">package.json</a>.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="#">150 add-on services</a>, from the Dashboard or CLI.</li>
        <li>Check out the <a href="#">Getting Started</a> guide to learn more!</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>
        <li><a href="#">Lorem</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Lorem alert.
  </div>
</div>

<script type="application/javascript">
  angular.module("ShineApp", [])
          .filter('fromTo', function() {
            return function(input, from, total, lessThan) {
              from = parseInt(from);
              total = parseInt(total);
              for (var i = from; i < from + total && i < lessThan; i++) {
                input.push(i);
              }
              return input;
            }
          })
          .factory('instagram', ['$http',
            function($http) {
              return {
                fetchPopular: function(callback) {

                  var endPoint = "https://api.instagram.com/v1/media/popular?client_id=1adf1b7ef61b4855b883bf0a7b7f2b62&callback=JSON_CALLBACK";

                  $http.jsonp(endPoint).success(function(response) {
                    callback(response.data);
                  });
                }
              }
            }
          ])
          .controller("ShineController", function($scope, $interval, instagram) {
            $scope.pics = [];
            $scope.have = [];
            $scope.orderBy = "-likes.count";
            $scope.getMore = function() {
              instagram.fetchPopular(function(data) {
                for(var i=0; i<data.length; i++) {
                  if (typeof $scope.have[data[i].id]==="undefined") {
                    $scope.pics.push(data[i]) ;
                    $scope.have[data[i].id] = "1";
                  }
                }
              });
            };
            $scope.getMore();

            $scope.tags = [
              'Bootstrap', 'AngularJS', 'Instagram', 'Factory'
            ]
          });
</script>
</body>
</html>
